[Unit]
Description=TravelPi Flask API
After=network.target

[Service]
User=root
WorkingDirectory=/opt/travelpi-api
ExecStart=/opt/travelpi-api/venv/bin/python app.py
Restart=always

[Install]
WantedBy=multi-user.target
