[Unit]
Description=TravelPi Wi-Fi Control API
After=network.target

[Service]
ExecStart=/opt/travelpi-api/venv/bin/python /opt/travelpi-api/app.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
